.wp-caption {
	background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin: 10px;
    padding-top: 4px;
    text-align: center;
}

#content p.wp-caption-text { line-height:1em;}

.alignleft {     
	display: block;
    margin-left: 0;
    margin-right: auto;
}

.aligncenter { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignright { 
    display: block;
    margin-left: auto;
    margin-right: 0;
}
