#middle.custom #content,
#footer {
	width:100%; 
	margin-right:0; 
	padding:0  
}

#middle.custom #content .page { float:left; display: inline; width: 66%;}

/* Multi Edit blocks */
#middle.custom #content #top-right { display: inline; position:absolute; }

.home #middle.custom #content #left-block,
#footer #subfooter-left { 
	clear: both;
    float: left;
    width: 31%;
    padding:0 20px 0 0;
    display: inline;
}
.home  #middle.custom #content #middle-block,
#footer #subfooter-middle { 
	width:31%;
	padding:0 10px; 
	float:left; 
	display: inline;
}
.home #middle.custom #content #right-block,
#footer #subfooter-right  { 
	width:31%;
	padding:0 0 0 10px; 
	float:left; 
	display: inline; 
	position: relative;
    top: -20px;
}

.page-template-custom-page-php #middle.custom #content #left-block { 
	clear: both;
    float: left;
	width:31%;
    padding:0 20px 0 0;
    display: inline;
}
.page-template-custom-page-php  #middle.custom #content #middle-block { 
	width:31%;
	padding:0 10px; 
	float:left; 
	display: inline;
}
.page-template-custom-page-php #middle.custom #content #right-block { 
	width:31%;
	padding:0 0 0 10px; 
	float:left; 
	display: inline;
	position: relative;
    top: 110px;
}

.home .edit-link,
.page-template-custom-page-php .edit-link { clear: both; float: left; }
